.page {
    justify-self: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: burlywood;
    border: 3px solid;
    color: black;
}

.menubar {
    /* safari */
    position: -webkit-sticky;
    /* everybody else */
    position: sticky;
    top: 0;
}

#page_name {
    font-family: sans-serif;
}

code {
    font-family: monospace;
    background: #595959;
    border: 1px solid;
    border-color: darkblue;
    color: goldenrod;
}