.page {
    justify-self: center;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

code {
    font-family: monospace;
    background: #595959;
    border: 1px solid;
    border-color: darkblue;
    color: goldenrod;
}