.light {
    --text-color: black;
    --background-color: white;
    --page-color: burlywood;
    --menu-background-color: wheat;
    --menu-border-color: darkgoldenrod;
    --code-background-color: #595959;
    --code-border-color: darkblue;
    --code-text-color: goldenrod;
}

.dark {
    --text-color: #dcdbd9;
    --background-color: black;
    --page-color: #36393f;
    --menu-background-color: #2f3136;
    --menu-border-color: #202225;
    --code-background-color: #2f3136;
    --code-border-color: #202225;
    --code-text-color: #b9bbbe;
}

body {
    background: var(--background-color);
}

p {
    color: var(--text-color);
}

li {
    font-family: sans-serif;
    color: var(--text-color);
}

h2 {
    font-family: serif;
    color: var(--text-color);
}

img {
    width: calc(100% - 2px);
    border: 1px solid;
    border-color: black;
}

#page {
    justify-self: center;
    width: calc(50% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: var(--page-color);
    border: 3px solid;
    color: black;
    float: none;
    height: max-content;
    margin-bottom: 20px;
}

.description {
    font-family: sans-serif;
}

#menubar {
    /* safari */
    position: -webkit-sticky;
    /* everybody else */
    position: sticky;
    top: 0;
    justify-self: center;
    justify-content: center;
    margin-left: calc(50% - 0.5 * 479px);
}

#menubar a {
    text-decoration: none;
}

#menubar ul {
    margin-left: -50px;
    list-style: none;
}

.menu_item {
    overflow: clip;
    font-family: sans-serif;
    border: 1px solid;
    width: max-content;
    padding-left: 2px;
    padding-right: 2px;
    background-color: var(--menu-background-color);
    color: var(--text-color);
    border-color: var(--menu-border-color);
    display: inline;
    float: left;
    margin-top: -3px;
    font-size: 16px;
}

#selected {
    border-top: 0px solid;
    padding-top: 1px;
    color: var(--menu-background-color);
}

#submenu_items {
    margin-top: -1px;
    max-width: 479px;
}

#submenu_items li {
    font-family: sans-serif;
    color: black;
    background-color: var(--menu-background-color);
    border: 1px solid;
    border-color: var(--menu-border-color);
    padding-left: 2px;
    padding-right: 2px;
    width: max-content;
    display: inline;
    float: left;
}

#page_name {
    font-family: sans-serif;
    background: var(--menu-background-color);
    border: 1px solid;
    border-bottom: 0px solid;
    padding-bottom: 2px;
    padding-right: 1px;
    border-color: var(--menu-border-color);
    width: 479px;
    margin-left: -10px;
    margin-bottom: -13px;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

code {
    font-family: monospace;
    background: var(--code-background-color);
    border: 1px solid;
    border-color: var(--code-border-color);
    color: var(--code-text-color);
}

@media only screen and (max-width: 1030px) {
    #page {
        margin-left: 0px;
        margin-right: 0px;
        width: 479px;
    }
    #menubar {
        margin-left: 0px
    }
}