.light {
    --header-color: darkslateblue;
    --border-color: aquamarine;
    --link-color: darkolivegreen;
}

.dark {
    --header-color: lightblue;
    --border-color: darkcyan;
    --link-color: deepskyblue;
}

p {
    font-family: serif;
}

#translate {
    border: 2px solid;
    border-color: var(--border-color);
    justify-self: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
}

header {
    color: var(--text-color);
    font-size: 20px;
}

a {
    color: var(--link-color);
}